<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gopanel Dashboard</title>
    <link rel="stylesheet" href="/assets/css/sakura.css">
    <style>
        *{
            padding: 0;
            margin:0;
        }
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
        }
        aside{
            display: flex;
            flex-direction: column;
        }
        section{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<aside>
    <a href="/home">home</a>
    <a href="/website">website</a>
    <a href="/ftp">ftp</a>
    <a href="/file">file</a>
    <a href="/monitor">monitor</a>
    <a href="/term">term</a>
    <a href="/security">security</a>
</aside>
<section>
    <header>

    </header>
    <article>

    </article>
</section>
</body>
</html>