<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoPanel Dashboard</title>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/assets/css/sakura.css" x-data x-init="if (localStorage.theme) $el.href=`/assets/css/${localStorage.theme}.css`">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="icon" type="image/jpg" href="/assets/img/favicon.jpg" />
    <script type="text/javascript" src="/assets/js/alpine.min.js" defer></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js') //Service Worker文件路径
                .then(() => { console.log('Service Worker Registered'); });
        }
    </script>
</head>
<body x-data="panel">
    <aside>
        <p><b>Go panel</b></p>
        <a href="/admin/monitor">monitor</a>
        <a href="/admin/website">website</a>
        <a href="/admin/cron">cron</a>
        <a href="/admin/file">file</a>
        <a href="/admin/webdav">webdav</a>
        <a href="/admin/term">term</a>
        <a href="/admin/security">security</a>
    </aside>


