<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入css样式 -->
    <link rel="stylesheet" href="/assets/css/clover.css">
    <title>clover</title>
</head>
<body>
    <!-- 四叶草 -->
    <div class="box">
        <!-- 四叶草的单片叶子 -->
        <div class="clover"></div>
        <div class="clover"></div>
        <div class="clover"></div>
        <div class="clover"></div>
    </div>
    <!-- 表单盒子 -->
    <div class="form-box">
        <!-- 登录盒子 -->
        <div class="login-box">
            <!-- 标题 -->
            <h1 class="title">
                Sign in
            </h1>
            <!-- 图片盒子 -->
            <div class="img-box">
                <!-- 图片 -->
                <img src="/assets/img/胡桃.jpg" alt="">
            </div>
            <!-- 输入框盒子 -->
            <form  class="input-box" action="" method="post">
                <!-- 输入框 -->
                <input type="text"     placeholder="用户名" name="username">
                <input type="password" placeholder="密码"  name="password">
                <input type="submit" value="登录">
            </form >
        </div>
    </div>
</body>
</html>