<html lang="zh">
<head>
    <title>访问已被拦截</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <style>
        body{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            overflow: hidden;
            &>main{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &>section{
                    width: 80%;
                    height: 80%;
                }
            }
            &>img{
                width: 50%;
                background-size: 100% 100%;
            }
        }
    </style>
</head>
<body>
<main>
    <section>
        <h2>很抱歉，您的访问已被拦截</h2>
        <h2>正在使用安全服务来保护自己免受在线攻击 </h2>
        <h2>请使用正确的路径登录面板</h2>
        <br>
        <h3>新安装的机器会随机分配一个 8 位的安全入口。也可以在面板设置中进行修改。如果没有记录或者不记得了，可以使用下面的方法解决错误</h3>
        <h3>解决方法:</h3>
        <h4>1.查看安全入口：./gopanel -q path</h4>
        <h4>2.重置配置文件：rm config.json</h4>
        <div class="sub-footer">
            <h4>RAY_ID:{{.}}</h4>
            <h4>CLIENT_IP:</h4>
        </div>
    </section>
</main>
<img src="/assets/img/right-rec.jpg" alt="cover">
</body>
</html>
